// main.scss

:root {
  --text-dark-color: #000000;
  --text-light-color: #ffffff;
  --text-red-color: #e53236;
  --text-grey-color: #333333;
  --background-dark-color: #000000;
  --background-light-color: #ffffff;
  --background-red-color: #e53236;
  --background-shadow: #b3b4bdb3;
  --background-grey-color: #eeeeee;

  --transition-duration: 250ms;
  --transition-tf: cubic-bezier(0.4, 0, 0.2, 1);
}

// Style dla pliku z przykładem HTML fragmentu
@import '../css/basicStyles.css';
@import '../css/header.css';
@import '../css/hero.css';
@import '../css/preliminary.css';
@import '../css/timeToChange.css';
@import '../css/forWhom.css';
@import '../css/aboutUs.css';
@import '../css/reviews.css';
@import '../css/modal-review.css';
@import '../css/workingMethodology.css';
@import '../css/workingMethodology-sytem.css';
@import '../css/modal-menu.css';
@import '../css/howWork.css';
@import '../css/footer.css';

@font-face {
  font-family: 'MontserratExtraLight';
  src: url('../fonts/montserrat/Montserrat-ExtraLight.ttf.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-ExtraLight.ttf.eot') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

// body {
//   font-family: 'Montserrat', sans-serif;
//   font-family: 'MontserratExtraLight', sans-serif;
// }

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

button {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  body {
    font-family: 'MontserratExtraLight', sans-serif;
  }

  .container {
    min-width: 320px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
  }
  .second-heading {
    font-size: 28px;
    padding: 5px 0px 10px 0px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    min-width: 768px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
  }
  .second-heading {
    font-size: 32px;
    padding: 10px 0px 20px 0px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    min-width: 1200px;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 0px;
  }
  .second-heading {
    font-size: 36px;
    padding: 10px 0px 30px 0px;
  }
}
