<section class="about-us-section">
    <div class="about-us-conteiner">
        <div class="about-us-smoll-conteiner">
            <img class="about-us-my-photo" src="./images/Marcin Bojarski.jpg" alt="Marcin Bojarski photo" width="320px">
            </img>
        </div>
        <div class="about-us-smoll-conteiner">
            <h2 class="about-us-headline">Jak pracuje</h2>
            <p class="about-us-text">Poprzez zrozumienie sposobu, w jaki twoje ciało obecnie pracuje i porusza się, dowiesz się, jak dokonać korekt, aby poruszać się optymalnie w swoim ulubionym sporcie, ćwiczeniach i codziennym życiu. Po drodze będziemy pracować nad zrównoważeniem asymetrii i zapewnieniem rozwiązań problemów związanych z ruchem, abyś mógł osiągnąć wyższą sprawność fizyczną, jednocześnie zmniejszając istniejący ból i zapobiegając urazom.</p>

            <ul class="about-us-list list">
                <li class="about-us-point">
                    <h3 class="about-us-backline">Zoptymalizuj ruch</h3>
                    <p class="about-us-tex">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eligendi culpa qui quae cumque quisquam sit blanditiis totam eum mollitia architecto quasi, ipsum sint in doloremque ipsa cupiditate unde? Sit!</p>
                </li>
                <li class="about-us-point">
                    <h3 class="about-us-backline">Popraw postawę</h3>
                    <p class="about-us-tex">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo numquam reiciendis repellat ipsa, sapiente repellendus alias modi perspiciatis qui quia labore natus, accusamus, placeat dolorum. Quod molestiae eum nam laudantium?</p>
                </li>
                <li class="about-us-point">
                    <h3 class="about-us-backline">Zapobiegaj kontuzjom</h3>
                    <p class="about-us-tex">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quibusdam iure consequuntur nobis quae voluptatibus placeat quidem atque eos vitae enim commodi nulla doloremque laudantium nisi voluptatum iste harum tenetur!</p>
                </li>
                <li class="about-us-point">
                    <h3 class="about-us-backline">Pozbądź się bólu</h3>
                    <p class="about-us-tex">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quibusdam iure consequuntur nobis quae voluptatibus placeat quidem atque eos vitae enim commodi nulla doloremque laudantium nisi voluptatum iste harum tenetur!</p>
                </li>
                <li class="about-us-point">
                    <h3 class="about-us-backline">Zarządzaj stresem i łagodź go</h3>
                    <p class="about-us-tex">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quibusdam iure consequuntur nobis quae voluptatibus placeat quidem atque eos vitae enim commodi nulla doloremque laudantium nisi voluptatum iste harum tenetur!</p>
                </li>
            </ul>
        </div>
    </div>

</section>
