<!-- partials/aboutUs.html -->

<section class="container about-us-section" id="about-us">
  <div class="about-us-container">
    <div class="about-us-first-container">
      <h2 class="about-us-header">
        <span class="about-us-span">Kilka słów </span>o mnie
      </h2>
    </div>
    <div class="about-us-big-container">
      <div class="about-us-text-item">
        <h2 class="about-us-second-heading">Marcin Bojarski</h2>
        <p class="about-us-text">
          Inżynier, który w drodze po rozwiązanie swoich własnych problemów
          wpadł w króliczą norę zrozumienia ludzkiego ciała i przepadł tam
          dobrze się przy tym bawiąc.
        </p>
        <p class="about-us-text">
          W młodym wieku problemy bólowe skłoniły mnie do szukania rozwiązania,
          zaprowadziło mnie to do zgłębienia innowacyjnych systemów pracy z
          ciałem.
        </p>
        <p class="about-us-text">
          Prowadzenie ludzi postrzegam jako artyzm gdzie poznając każdego
          podopiecznego z osobna, chce jak najlepiej zrozumieć potrzeby danej
          osoby i poprowadzić ich ku sprawności i zdrowiu.
        </p>
        <p class="about-us-text">
          Zapewniam podopiecznym środowisko do nauki, w którym będziemy pracować
          nad koordynacją, siłą, równowagą i mobilnością jednocześnie
          wzmacniając nasze połączenie ciała z umysłem.
        </p>
        <p class="about-us-text">
          Prawdziwa siła i wzrost zaczyna się od głębokiego poznania siebie.
          Pomogę Ci nawigować w tej podróży.
        </p>
      </div>
      <div class="about-us-image-container">
        <img
          class="about-us-my-photo lazyload blur-up"
          src="./images/placeholder.webp"
          data-src="./images/aboutUs-img_12.webp"
          alt="Marcin photo"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
