<!-- footer.html -->

<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-contact-box">
      <h2 class="footer-header">
        <span class="footer-span">Trening jako technologia,</span> która budzi
        boskość w twoim ciele.
      </h2>
      <div class="footer-contact">
        <div class="footer-address">
          <p class="footer-contact-paragraph">Skontaktuj się</p>
          <address>
            <ul class="list">
              <li>
                <a class="link footer-address" href="tel:+48608558316"
                  >+48 608-558-316</a
                >
              </li>
              <li>
                <a
                  class="link footer-address"
                  href="mailto:m.bojarski91@gmail.com"
                  >m.bojarski91@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div>
          <ul class="list footer-socialmedia">
            <li>
              <a
                class="link footer-social-link"
                href="https://www.instagram.com/bojarski_training/?igsh=bjBwajY3bmxucnp5&utm_source=qr"
                target="_blank"
              >
                <svg class="footer-icons" width="24" height="24">
                  <use href="./icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <!-- <li>
              <a class="link footer-social-link" href="https://www.twitter.pl">
                <svg class="footer-icons" width="24" height="24">
                  <use href="./icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li> -->
            <!-- <li>
              <a
                class="link footer-social-link"
                href="https://www.facebook.com"
              >
                <svg class="footer-icons" width="24" height="24">
                  <use href="./icons/icons-socials.svg#icon-facebook"></use>
                </svg>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="bar"></div>
    <div>
      <nav>
        <ul class="list footer-navigation">
          <li><a class="link footer-nav" href="#header">Home</a></li>
          <li><a class="link footer-nav" href="#preliminary">Dla kogo</a></li>
          <li><a class="link footer-nav" href="#how-work">Jak pracuję</a></li>
          <li><a class="link footer-nav" href="#about-us">O mnie</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
