<!-- partials/forWhom.html -->

<section class="container forWhom-section">
  <div class="forWhom-container" id="forWhom">
    <div class="forWhom-background">
      <div class="forWhom-first-container">
        <h2 class="forWhom-header">
          <span class="forWhom-span">BeZone </span>to mądra odbudowa Ciebie
        </h2>
      </div>
      <div class="forWhom-second-container">
        <div class="forWhom-second-text-container">
          <h3 class="forWhom-second-heading">Jeśli :</h3>
          <ul class="forWhom-list list">
            <li class="forWhom-point">
              <a class="link" href="">
                <svg class="forWhom-icons" width="24" height="24">
                  <use href="./icons/arrow-right.svg#icon-arrow-right"></use>
                </svg>
              </a>
              szukasz w treningu czegoś więcej niż tylko masy i rzeźby,
            </li>
            <li class="forWhom-point">
              <a class="link" href="">
                <svg class="forWhom-icons" width="24" height="24">
                  <use href="./icons/arrow-right.svg#icon-arrow-right"></use>
                </svg>
              </a>
              pragniesz poznać swój prawdziwy potencjał i pobawić się ruchem,
            </li>
            <li class="forWhom-point">
              <a class="link" href="">
                <svg class="forWhom-icons" width="24" height="24">
                  <use href="./icons/arrow-right.svg#icon-arrow-right"></use>
                </svg>
              </a>
              chcesz poprawić postawę i obniżyć poziom stresu,
            </li>
            <li class="forWhom-point">
              <a class="link" href="">
                <svg class="forWhom-icons" width="24" height="24">
                  <use href="./icons/arrow-right.svg#icon-arrow-right"></use>
                </svg>
              </a>
              marzysz o życiu w zdrowym, sprawnym, silnym ciele,
            </li>
            <li class="forWhom-point">
              <a class="link" href="">
                <svg class="forWhom-icons" width="24" height="24">
                  <use href="./icons/arrow-right.svg#icon-arrow-right"></use>
                </svg>
              </a>
              reflektujesz na trwałe zmiany, a nie chwilowy efekt i powrót
              problemu,
            </li>
          </ul>
          <h3 class="forWhom-second-heading">
            to ta współpraca jest dla Ciebie !
          </h3>
        </div>
        <div class="forWhom-image-container">
          <img
            class="forWhom-image"
            src="./images/forWhom_firstPhoto_05.webp"
            alt="forWhom-image"
          />
        </div>
      </div>
      <div class="forWhom-third-container">
        <h3 class="forWhom-heading">Zoptymalizuj ruch</h3>
        <h3 class="forWhom-heading">Popraw postawę</h3>
        <h3 class="forWhom-heading">Zapobiegaj kontuzjom</h3>
        <h3 class="forWhom-heading">Pozbądź się bólu</h3>
        <h3 class="forWhom-heading">Zarządzaj stresem i łagodź go</h3>
        <h3 class="forWhom-heading">Baw się ruchem</h3>
      </div>
    </div>
  </div>
</section>
