<!-- forWhom.html -->

<section class="container forWhom-section">
  <div class="forWhom-container" id="forWhom">
    <div class="forWhom-background">
      <div class="forWhom-first-container">
        <h3 class="forWhom-text">
          <span class="forWhom-span">BeZone </span>to mądra odbudowa Ciebie
        </h3>
      </div>
      <div class="forWhom-second-container">
        <h2 class="forWhom-second-heading">Jeśli:</h2>
        <ul class="forWhom-list list">
          <a class="link" href="">
            <svg class="forWhom-icons" width="24" height="24">
              <use href="./icons/arrow-right.svg#icomoon-ignore"></use>
            </svg>
          </a>
          <li class="forWhom-point">
            szukasz w treningu czegoś więcej niż tylko masy i rzeźby,
          </li>
          <li class="forWhom-point">
            pragniesz poznać swój prawdziwy potencjał i pobawić się ruchem,
          </li>
          <li class="forWhom-point">
            chcesz poprawić postawę i obniżyć poziom stresu,
          </li>
          <li class="forWhom-point">
            marzysz o życiu w zdrowym, sprawnym, silnym ciele,
          </li>
          <li class="forWhom-point">
            reflektujesz na trwałe zmiany, a nie chwilowy efekt i powrót
            problemu
          </li>
        </ul>
        <p class="forWhom-text">To ta współpraca jest dla Ciebie!</p>
      </div>
      <div class="forWhom-third-container">
        <h3 class="forWhom-heading">Zoptymalizuj ruch</h3>
        <h3 class="forWhom-heading">Popraw postawę</h3>
        <h3 class="forWhom-heading">Zapobiegaj kontuzjom</h3>
        <h3 class="forWhom-heading">Pozbądź się bólu</h3>
        <h3 class="forWhom-heading">Zarządzaj stresem i łagodź go</h3>
        <h3 class="forWhom-heading">Baw się ruchem</h3>
      </div>
      <div class="forWhom-fourth-container">
        <p class="forWhom-text">
          W BeZone oferuję prowadzenie, które pomoże odbudować twoją świadomość
          ciała w ruchu podczas treningu jak i odblokować procesy autoregulacji,
          które będą utrzymywały twoje ciało w zdrowiu. Pomogę Ci odkryć ruch na
          nowo tak aby stał się przyjemnością i zabawą ze zdrową dawką
          dyscypliny, zamiast przykrym obowiązkiem.
        </p>
      </div>
    </div>
  </div>
</section>
