<header id="headerBG" class="header">
  <div class="container header-container">
    <!-- kontener na logo i menu -->
    <div class="header-navibox">
      <a href="./index.html" class="header-logo" id="logo">
        <svg>
          <use href="./icons/icons.svg#icon-film"></use>
        </svg>
        <h2 id="logo">BeZone</h2>
      </a>
      <div class="header-navi">
        <a href="./index.html">Home</a>
        <a href="./index.html">O mnie</a>
        <a href="./index.html">O metodyce pracy</a>
        <a href="./index.html">Sala</a>
        <a href="./index.html">Kontact / umów wizytę</a>
      </div>
    </div>

</header>
