<!-- header.html -->

<!-- ===============HEADER================ -->
<header class="header" id="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <!-- ============LOGO========= -->
      <div class="header-logo">
        <a class="link" href="">
          <svg
            class="header-logo-icon"
            width="140"
            height="35"
            viewBox="0 0 140 35"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="./icons/LogoBeZone_02.svg#LogoIcon-BeZone"></use>
          </svg>
        </a>
      </div>
      <!-- ============NAVIGATION========= -->
      <div class="header-nav-box">
        <ul class="list">
          <li class="header-relative-li">
            <a
              class="link header-nav-list-item header-nev-underline"
              href="#header"
              >Home</a
            >
          </li>
          <li class="header-relative-li">
            <a
              class="link header-nav-list-item header-nev-underline"
              href="#preliminary"
              >Dla kogo</a
            >
          </li>
          <li class="header-relative-li">
            <a
              class="link header-nav-list-item header-nev-underline"
              href="#how-work"
              >Jak pracuję</a
            >
          </li>
          <li class="header-relative-li">
            <a
              class="link header-nav-list-item header-nev-underline"
              href="#about-us"
              >O mnie</a
            >
          </li>
          <!-- <li class="header-relative-li">
              <a class="link header-nav-list-item header-nev-underline" href="#">Sala</a>
            </li> -->
          <!-- <li class="header-relative-li">
              <a class="link header-nav-list-item header-nev-underline" href="#">Kontact / umów wizytę</a>
            </li> -->
        </ul>
      </div>
      <!-- ============SOCIAL MEDIA========= -->
      <div class="header-social-media-box">
        <ul class="list">
          <li>
            <a
              class="link header-social-link"
              href="https://www.instagram.com/bojarski_training/?igsh=bjBwajY3bmxucnp5&utm_source=qr"
              target="_blank"
            >
              <svg
                class="header-instagram-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <use href="./icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <!-- <li>
            <a class="link header-social-link" href="#">
              <svg
                class="header-twitter-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <use href="./icons/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li>
            <a class="link header-social-link" href="#">
              <svg
                class="header-instagram-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <use href="./icons/icons-socials.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
        </ul>
      </div>

      <div class="header-burger-menu">
        <button
          type="button"
          class="header-burger-button menu-toggle js-open-menu"
        >
          <svg class="header-burger-icon">
            <use href="./icons/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
