<!-- hero.html -->

<section class="hero">
    <div class="hero-section background-image-section">
        <div class="hero-container">
            <h1 class="visually-hidden">hero, Functional Patterns, MovMed, Motion data / equalibrum</h1>
            <h2 class="hero-hi-my-name visually-hidden">Cześć mam na imię Marcin</h2>
            <!-- <h3 class="hero-text">
                <span class="hero-span">Trening jako technologia,</span> która budzi boskość w twoim ciele.</h3> -->
            <div class="hero-modal-and-link-button">
                <div class="hero-modal-button-first-line">
                    <button data-modal-buy1-open type="button" class="hero-write-to-me-button">Napisz do mnie</button>
                    <button data-modal-buy2-open class="hero-make-an-appointment-button">Umów wizytę</button></a>
                </div>

                <div class="hero-scroll-button-box">
                    <a href="#footer" class="hero-link-scroll link"> <button class="hero-scroll-down-button" type="button">
                            <svg width="16" height="16" class="hero-button-scroll-icon">
                                <use href="./icons/downbutton.svg#icon-down-button"></use>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
    </div>
</section>
