<!-- hero.html -->

<section class="hero">
    <div class="hero-section background-image-section">
        <div class="hero-container">
            <h1 class="visually-hidden">hero</h1>
            <h2 class="second-heading hero-hi-my-name">Cześć mam na imię Marcin</h2>
            <p class="hero-text">jestem trenerem personalnym, moim celem jest wyzwolić z Twojego ciała potencjał, który przygotowała dla Ciebie ewolucja.</p>
            <div class="hero-modal-and-link-button">
                <div class="hero-modal-button-first-line">
                    <button data-modal-buy1-open type="button" class="hero-write-to-me-button">Napisz do mnie</button>
                    <a href="#how-made" class="hero-link-made-button link">
                    <button class="hero-make-an-appointment-button">Umów się na wizytę</button></a>
                </div>

                <div class="hero-scroll-button-box">
                    <a href="#footer" class="hero-link-scroll link">scroll down
                        <button class="hero-scroll-down-button" type="button">
                            <svg width="16" height="16" class="hero-button-scroll-icon">
                                <use href="./icons/downbutton.svg#icon-down-button"></use>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
    </div>
</section>