<section class="how-work-section">
    <div class="container how-work-container" id="how-work">
        <div class="how-work-smoll-container">
            <h2 class="second-heading how-work-heading">
                <spam class="how-work-accent">Jak pracuje;</spam> Systemy na których bazuje:</h2>
            <p class="how-work-text">Poprzez zrozumienie sposobu, w jaki twoje ciało obecnie pracuje i porusza się, dowiesz się, jak dokonać korekt, aby poruszać się optymalnie w swoim ulubionym sporcie, ćwiczeniach i codziennym życiu. Po drodze będziemy pracować nad zrównoważeniem asymetrii i zapewnieniem rozwiązań problemów związanych z ruchem, abyś mógł osiągnąć wyższą sprawność fizyczną, jednocześnie zmniejszając istniejący ból i zapobiegając urazom.</p>
        </div>
        <div class="how-work-smoll-container">
            <img class="how-work-my-photo" src="./images/howWork.webp" alt="Jak pracuję - część ruchu" width="280px">
            </img>
        </div>
    </div>

</section>
