<section class="how-work-section">
    <div class="container how-work-container" id="how-work">
        <div class="how-work-smoll-container">
            <h2 class="second-heading how-work-heading">Jak pracuje</h2>
            <p class="how-work-text">Poprzez zrozumienie sposobu, w jaki twoje ciało obecnie pracuje i porusza się, dowiesz się, jak dokonać korekt, aby poruszać się optymalnie w swoim ulubionym sporcie, ćwiczeniach i codziennym życiu. Po drodze będziemy pracować nad zrównoważeniem asymetrii i zapewnieniem rozwiązań problemów związanych z ruchem, abyś mógł osiągnąć wyższą sprawność fizyczną, jednocześnie zmniejszając istniejący ból i zapobiegając urazom.</p>

            <ul class="how-work-list list">
                <li class="how-work-point">
                    <h3 class="how-work-subtitle">Zoptymalizuj ruch</h3>
                    <p class="how-work-tex">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eligendi culpa qui quae cumque quisquam sit blanditiis totam eum mollitia architecto quasi, ipsum sint in doloremque ipsa cupiditate unde? Sit!</p>
                </li>
                <li class="how-work-point">
                    <h3 class="how-work-subtitle">Popraw postawę</h3>
                    <p class="how-work-tex">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo numquam reiciendis repellat ipsa, sapiente repellendus alias modi perspiciatis qui quia labore natus, accusamus, placeat dolorum. Quod molestiae eum nam laudantium?</p>
                </li>
                <li class="how-work-point">
                    <h3 class="how-work-subtitle">Zapobiegaj kontuzjom</h3>
                    <p class="how-work-tex">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quibusdam iure consequuntur nobis quae voluptatibus placeat quidem atque eos vitae enim commodi nulla doloremque laudantium nisi voluptatum iste harum tenetur!</p>
                </li>
                <li class="how-work-point">
                    <h3 class="how-work-subtitle">Pozbądź się bólu</h3>
                    <p class="how-work-tex">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quibusdam iure consequuntur nobis quae voluptatibus placeat quidem atque eos vitae enim commodi nulla doloremque laudantium nisi voluptatum iste harum tenetur!</p>
                </li>
                <li class="how-work-point">
                    <h3 class="how-work-subtitle">Zarządzaj stresem i łagodź go</h3>
                    <p class="how-work-tex">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quibusdam iure consequuntur nobis quae voluptatibus placeat quidem atque eos vitae enim commodi nulla doloremque laudantium nisi voluptatum iste harum tenetur!</p>
                </li>
            </ul>
        </div>
        <div class="how-work-smoll-container">
            <img class="how-work-my-photo" src="./images/howWork.webp" alt="Jak pracuję - część ruchu" width="280px">
            </img>
        </div>
    </div>

</section>
