<!-- partials/howWork.html -->

<section class="how-work-section">
  <div class="container how-work-container" id="how-work">
    <div class="how-work-big-container">
      <div class="how-work-text-container">
        <h2 class="how-work-second-heading">
          <spam class="how-work-accent">Jak pracuję. </spam>
          Systemy, na których bazuję
        </h2>
        <p class="how-work-text">
          Poprzez zrozumienie sposobu, w jaki twoje ciało obecnie pracuje i
          porusza się, dowiesz się, jak dokonać korekt, aby poruszać się
          optymalnie w swoim ulubionym sporcie, ćwiczeniach i codziennym życiu.
          Po drodze będziemy pracować nad zrównoważeniem asymetrii i
          zapewnieniem rozwiązań problemów związanych z ruchem, abyś mógł
          osiągnąć wyższą sprawność fizyczną, jednocześnie zmniejszając
          istniejący ból i zapobiegać urazom.
        </p>
      </div>
      <div class="how-work-image-container">
        <img
          class="how-work-image lazyload blur-up"
          src="./images/placeholder.webp"
          data-src="./images/howWork_07.webp"
          alt="Marcin works with a client photo"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
