<!-- partials/modal-review.html -->

<div
  class="backdrop-review is-hidden"
  data-modal-review="/src/js/modal-review.js"
>
  <div class="review-window">
    <div>
      <button class="review-close" type="button" data-modal-review-close>
        <svg class="review-close-icon" width="28" height="28">
          <use href="icons/icons.svg#icon-close" />
        </svg>
      </button>
      <h2 class="modal-review-heading">
        tu możesz napisać
        <span class="modal-review-accent">opinię o mojej pracy</span>
      </h2>
      <form class="modal-review-form">
        <div class="modal-review-form-row">
          <input
            class="modal-review-field"
            type="text"
            id="name_id"
            name="name_id"
            placeholder="Twoje Imię"
            required
            pattern="[a-zA-Z]*"
            title="Letters only"
          />
          <label class="modal-review-label" for="name_id"></label>
        </div>
        <div class="modal-review-form-row">
          <input
            class="modal-review-field"
            type="email"
            id="email_id"
            name="email_id"
            placeholder="Podaj Swojego emaila"
            required
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            title="Invalid email name"
          />
          <label class="modal-review-label" for="email_id"></label>
        </div>
        <div class="modal-review-form-row modal-review-phone">
          <input
            class="modal-review-field-phone"
            type="tel"
            id="phone_id"
            name="phone_id"
            placeholder="Numer telefonu"
            required
            pattern="[0-9]{9}"
            title="Must be 9 digits"
          />
          <label class="modal-review-label" for="phone_id"></label>
        </div>
        <div class="modal-review-form-row">
          <textarea
            class="modal-review-field modal-review-textarea"
            name="message"
            id="message"
            rows="4"
            placeholder="Napisz wiadomość"
            required
          ></textarea>
          <label class="modal-review-label" for="message"></label>
        </div>
        <div class="modal-review-form-row">
          <button class="modal-review-button" type="submit">Wyślij</button>
        </div>
      </form>
    </div>
  </div>
</div>
