<!-- preliminary.html -->

<section class="container preliminary-section">
  <div class="preliminary-container" id="preliminary">
    <div class="preliminary-first-header-container">
      <h2 class="preliminary-header">
        <span class="preliminary-span">Trening jako technologia, </span>która budzi boskość w twoim ciele !
      </h2>
    </div>
    <div class="preliminary-first-container">
      <div class="preliminary-text-item">
        <h2 class="preliminary-second-heading">Witaj w BeZone</h2>
        <div class="preliminary-first-text-item">
          <p class="preliminary-text">
            To całościowe podejście do pracy z tobą, najpierw oceniamy stan twojego aparatu ruchu, poziom stresu, wydolność twojego układu nerwowego.
          </p>
          <p class="preliminary-text">
            Wszystko po ty aby maksymalnie zadbać o twoje potrzeby, wzmocnić tam gdzie potrzebujesz, odciążyć tam gdzie dzieje się za dużo.
          </p>
          <p class="preliminary-text">
            Na podstawie tego  stworzymy optymalny protokół pracy, który podniesie twoje zdrowie i sprawność na wyższy poziom Po to abyś mógł osiągać swoje cele fizyczne i życiowe w sile i dobrym samopoczuciu
          </p>
        </div>
      </div>
      <div class="preliminary-image-container">
          <img class="preliminary-image" src="./images/preliminary-first-container_01.webp" alt="Marcin trains photo">
          </img>
      </div>
    </div>
    <div class="preliminary-second-container">
      <div class="preliminary-text-item">
        <div class="preliminary-second-text-item">
          <p class="preliminary-text">
            Zastanawiałeś się kiedyś dlaczego jednym ruch i ładne ciało przychodzi tak łatwo, a innym nie?
          </p>
          <p class="preliminary-text">
            Czujesz, że ruch stał się dla Ciebie męczącą pracą? <br/>Kontuzje ciągle nawracają, a z nimi ból?
          </p>
          <p class="preliminary-text">Niektórzy z nas zachowali lepsze "ustawienia fabryczne". <br />Dzisiejszy świat niestety nie sprzyja ich regulacji.</p>
          <p class="preliminary-text"><span class="preliminary-span">Rozwiązanie?</span>
          </p>
        </div>
      </div>
      <div class="preliminary-video-container">
        <iframe class="preliminary-video" src="https://www.youtube.com/embed/o9Dh7r_Ih5Q?si=2zNFGNG-7GpgTjFt"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
