<!-- preliminary.html -->

<section class="container preliminary-section">
  <div class="preliminary-container" id="preliminary">
    <div class="preliminary-first-container">
      <div class="preliminary-text-item">
        <h2 class="preliminary-second-heading">Witaj w BeZone</h2>
        <div class="preliminary-first-text-item">
          <p class="preliminary-text">
            Zastanawiałeś się kiedyś dlaczego jednym ruch i ładne ciało
            przychodzi tak łatwo, a innym nie?
          </p>
          <p class="preliminary-text">
            Czy czujesz, że ruch stał się dla Ciebie męczącą pracą?
          </p>
          <p class="preliminary-text">
            Kontuzje ciągle nawracają, a z nimi ból?
          </p>
          <p class="preliminary-text">
            Gubisz się w gąszczu informacji - rollować/wzmacniać/masować i
            "genialnych" programach treningowych?
          </p>
          <p class="preliminary-text">
            Niektórzy z nas zachowali lepsze "ustawienia fabryczne". Dzisiejszy
            świat niestety nie sprzyja ich regulacji, jednak mądrą pracą możemy
            na to poradzić.
          </p>
        </div>
      </div>
      <div class="preliminary-image-container">
          <img class="preliminary-image" src="./images/preliminary-first-container_01.webp" alt="Marcin trains photo">
          </img>
      </div>
    </div>
    <div class="preliminary-second-container">
      <div class="preliminary-text-item">
        <div class="preliminary-text-second-item">
          <p class="preliminary-text">
            Jesteśmy ludźmi i wyrażamy się poprzez szeroko pojęty ruch. Jeżeli w
            trakcie życia to wyrażanie zostało zablokowane to:
          </p>
          <p class="preliminary-text">
            Odcinamy się od swoich ciał, ograniczamy się w sposobie poruszania, ten
            sam ruch w kółko
          </p>
          <p class="preliminary-text">Dzień</p>
          <p class="preliminary-text">Po</p>
          <p class="preliminary-text">Dniu</p>
          <p class="preliminary-text">Efekt?</p>
          <p class="preliminary-text-heading">Jesteśmy Zblokowani!</p>
          <p class="preliminary-text">
            Ograniczamy się fizycznie i mentalnie. Umieramy za życia!
          </p>
        </div>
      </div>
      <div class="preliminary-video-container">
        <iframe class="preliminary-video" src="https://www.youtube.com/embed/o9Dh7r_Ih5Q?si=2zNFGNG-7GpgTjFt"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
