<section class="preliminary-section" id="preliminary">
  <p class="preliminary-text">
    Staliśmy się odcięci od swoich ciał, ograniczenii w sposobie poruszania, ten
    sam ruch w kółko
  </p>
  <p class="preliminary-text">Dzień</p>
  <p class="preliminary-text">Po</p>
  <p class="preliminary-text">Dniu</p>
  <p class="preliminary-text">Efekt?</p>
  <p class="preliminary-text">Jesteśmy Zblokowani!</p>
  <p class="preliminary-text">
    Ograniczamy się fizycznie i mentalnie. Umieramy za życia!
  </p>
</section>
