<!-- partials/reviews.html -->

<section id="reviews" class="reviews-section">
  <div class="container cont-reviews">
    <h2 class="reviews-second-heading">
      <span class="reviews-accent">opinie</span> o mnie
    </h2>
    <div class="swiper reviews-js-slider">
      <ul class="list reviews-list swiper-wrapper" id="reviews-list">
        <!-- Karty opinii będą generowane dynamicznie tutaj -->
      </ul>

      <!-- <ul class="list reviews-slider">
        <li>
          <button type="button" class="reviews-slide active-review"></button>
        </li>
        <li><button type="button" class="reviews-slide"></button></li>
        <li><button type="button" class="reviews-slide"></button></li>
        <li><button type="button" class="reviews-slide"></button></li>
      </ul> -->

      <div
        class="swiper-pagination reviews-js-pagination swiper-pagination"
      ></div>
    </div>
    <button class="reviews-button" type="button" data-modal-review-open>
      Napisz opinię
    </button>
  </div>
</section>
