<!-- timeToChange.html -->

<section class="container timeToChange-container">
  <div class="timeToChange-heading-container">
    <h2 class="timeToChange-heading">Czas</h2>
    <h2 class="timeToChange-heading">Na</h2>
    <h2 class="timeToChange-heading">Zmianę!</h2>
  </div>
  <div class="timeToChange-image-container">
    <img
      class="timeToChange-image"
      src="./images/timeToChange-img.webp"
      alt="timeToChange-image"
      width="600"
      height="600"
    />
  </div>
</section>
