<!-- timeToChange.html -->

<section class="container timeToChange-container">
  <div class="timeToChange-first-container">
    <h2 class="timeToChange-header">
      <span class="timeToChange-span">Wyrażamy się </span>poprzez ruch !
    </h2>
  </div>

  <div class="timeToChange-second-container">
    <div class="timeToChange-heading-container">
      <h3 class="timeToChange-heading">
        Jeśli w trakcie życia blokujemy ruch, <br />to stopniowo odcinamy się od
        swoich ciał.
      </h3>
      <h3 class="timeToChange-heading">
        Ten sam ruch w kółko, dzień po dniu, efekt?
      </h3>
      <h3 class="timeToChange-red-heading">Jesteśmy Zblokowani !</h3>
      <h3 class="timeToChange-heading">
        Ograniczając się fizycznie i mentalnie, <br />umieramy za życia !
      </h3>
    </div>
    <div class="timeToChange-image-container">
      <img
        class="timeToChange-image"
        src="./images/timeToChange-img_03.webp"
        alt="timeToChange-image"
      />
    </div>
  </div>
  <div class="timeToChange-third-container">
    <div class="timeToChange-heading-container">
      <h3 class="timeToChange-red-heading">Czas</h3>
      <h3 class="timeToChange-red-heading">Na</h3>
      <h3 class="timeToChange-red-heading">Zmianę!</h3>
    </div>
    <div class="timeToChange-image-container">
      <img
        class="timeToChange-image"
        src="./images/timeToChange-img_04.webp"
        alt="timeToChange-image"
      />
    </div>
  </div>
</section>
