<!-- workingMethodology.html -->

<section class="methodology-section">
  <div class="container methodology">
    <div class="methodology-section-card">
      <ul class="methodology-list">
        <!-- Dynamicznie generowana zawartość -->
      </ul>
    </div>
    <div class="methodology-footer">
      <p class="methodology-footer-text">BeZone - znaczy bądź w swojej pełni</p>
      <p class="methodology-footer-text">
        Prawidziwa siła i zdrowie wynika z utrzymywania nas w balansie i w tym
        balansie dążeniu do wzrostu. W świecie szybciej, więcej, teraz
        straciliśmy siebie, staliśmy się słabi. Prawdziwa siła i wzrost zaczyna
        się od głębokiego poznania siebie. Pomogę Ci nawigować w tej podróży.
      </p>
    </div>
  </div>
</section>
