<!-- workingMethodology.html -->

<section class="methodology-section">
  <div class="methodology-first-header-container">
    <h2 class="methodology-header">
      <span class="methodology-span">Bądź w pełni </span>
      <button data-modal-buy2-open class="methodology-button">
        Umów wizytę
      </button>
    </h2>
  </div>
  <div class="container methodology">
    <div class="methodology-section-card">
      <ul class="methodology-list">
        <!-- Dynamicznie generowana zawartość -->
      </ul>
    </div>
    <div class="methodology-footer-background">
      <div class="methodology-footer">
        <h3 class="methodology-footer-heading">
          Wykorzystamy do tego najnowsze techniki pracy z ciałem, opierające się
          na zrozumieniu:
        </h3>
        <ul class="methodology-footer-list list">
          <li class="methodology-footer-point">
            <a class="link" href="">
              <svg class="methodology-icons" width="24" height="24">
                <use href="./icons/arrow-right.svg#icon-arrow-right"></use>
              </svg> </a
            >działania układu nerwowego,
          </li>
          <li class="methodology-footer-point">
            <a class="link" href="">
              <svg class="methodology-icons" width="24" height="24">
                <use href="./icons/arrow-right.svg#icon-arrow-right"></use>
              </svg>
            </a>
            biomechaniki w oparciu o antropologię,
          </li>
          <li class="methodology-footer-point">
            <a class="link" href="">
              <svg class="methodology-icons" width="24" height="24">
                <use href="./icons/arrow-right.svg#icon-arrow-right"></use>
              </svg>
            </a>
            potrzeb regeneracji do obciążania.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
