<!-- workingMethodology.html -->

<section id="working" class="methodology-section">
  <div class="container cont-methodology">
    <h2 class="second-heading methodology-heading">Metodyka Pracy</h2>
    <p class="methodology-text">
      W BeZone wierzymy, że sekretem zdrowego ciała jest uważne dobieranie
      składników treningu następnie odpowiednie zbalansowane kroków tak abyś
      otrzymał niezwykłe doświadczenie sensoryczne prowadzące Cię do zdrowia i
      sprawności.
    </p>
  </div>
  <div class="container cont-methodology-items">
    <ul class="list methodology-list">
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Rozluźnianie powięziowe</h3>
        <p class="methodology-text">
          Twoje ciało sztywniejąc wytwarza coś w rodzaju zamarzniętych węzłów na
          powięzi dlatego zamiast rozciągania lepszym wyborem jestem praca
          bezpośrednio z tkanką zblokowaną w ten sposób dajesz ciału informacje
          tam gdzie trzeba zamiast strzelać na oślep
        </p>
        <p class="methodology-text">
          Dostaniesz techniki samorozluźniania, tak abyś wiedział jak pomóc
          sobie sam, aby lepiej sie regenerować i poradzić sobie z nagłym
          spięciem.
        </p>
        <p class="methodology-text">
          Technika masażu, która rozbija tkankę bliznowatą, jednocześnie
          nawadniając mięśnie. Jest to skuteczny sposób na uwolnienie napięcia,
          stopniowo pozwalając ciału poruszać się z mniejszymi ograniczeniami.
        </p>
      </li>
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Praca z oddechem</h3>
        <p class="methodology-text">
          Odpowiedni wzorzec oddechu jest kluczowy dla silnego odpornego na
          stres organizmu. Jednak jeśli twoje ciało nie wie jak poprowadzić
          oddech to same ćwiczenia oddechowe nie wystarczą. Pracując z oddechem
          intencjonalnie, nauczymy Cię jak go kierować jak najefektywniej tak by
          pozwał on stabilizację twojego tułowia podczas ruchu.
        </p>
      </li>
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Trening sensoryczny</h3>
        <p class="methodology-text">
          Twój układ nerwowy jest szefem, a dla niego kluczowe są informacje
          zbierane z twojego ciała j otoczenia. Niektóre obszary w twoim ciele
          są zamrożone, poprzez styl życia, zebrane obciążenia, z którymi ciało
          nieporadziło sobie. Potrzebujemy przekonać twój układ nerwowy, ze jest
          tam bezpiecznie, dając mu odpowiednie odczucia tego miejsca. W ten
          sposób możesz zacząć odzyskiwać swoje ciało i siebie.
        </p>
      </li>
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Postawa</h3>
        <p class="methodology-text">
          Korekcja asymetrii poprzez ruch, budowanie lepszej świadomości twojej
          postawy buduje solidne fundamenty, które pomagają w pozbyciu się bólu
          i zapobiegają kontuzjom i poprawiają ogólną sprawność.
        </p>
      </li>
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Ćwiczenia korekcyjne</h3>
        <p class="methodology-text">
          Twoje ciało posiada coś takiego jak mechanoreceptory. Znaczy takie
          czujki, które odczytują napięcie z mięśni. Ewolucyjnie utworzyły nam
          się faworyzowane ścieżki przekazywania tych napięć, bazujące na
          ruchach, które robiliśmy najczęściej. Jeśli nauczymy twoje ciało
          działać przez te ścieżki to twoje ciało będzie bezpieczniejsze i
          silniejsze w ruchu. Kontekstowe ćwiczenia w tych funkcji (stanie,
          chodzenie, bieganie, rzucanie) pomagają przywrócić twojemu ciału te
          wzorce ruchu.
        </p>
      </li>
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Ćwiczenia dynamiczne</h3>
        <p class="methodology-text">
          Podczas treningu będziemy wykonywać dynamiczne ćwiczenia, które
          odwzorowują rzeczywiste sytuacje życiowe i sportowe. Będziesz poruszać
          się pewniej, mocniej i stabilnie
        </p>
      </li>
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Neuro-Fitness</h3>
        <p class="methodology-text">
          Neuro-Fitness obejmuje ruchy, które opierają się na poprawie naszych
          funkcji neurologicznych, takich jak wzrok, węch, słuch, pamięć i inne.
        </p>
      </li>
    </ul>
  </div>
  <div class="container cont-methodology-systems">
    <h2 class="second-heading sytems-heading">
      <span class="systems-accent">Systemy</span> na których bazuje:
    </h2>
    <ul class="list methodology-list">
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Functional Patterns :</h3>
        <p class="methodology-text">
          system, który powstał w oparciu o obserwacje najlepiej ruszających się
          sportowców, uwzględniający antropologiczną wielką czwórkę (stanie,
          chodzenie, bieganie, rzucanie) zachowując inżynierskie spojrzenie
          wprowadza bardzo precyzyjne protokoły treningowe, które pomagają
          pozbyć traum z twojego ciała. Traumy rozumiane jako wszystkie
          obciążenia z których twoje ciało nie było się w stanie zregenerować na
          bieżąco. Precyzyjny kierunek pracy pozwala bodźcowanie twoje ciało
          dokładnie tam gdzie tego potrzebuje w tym kontekście ruchu, który jest
          dla niego najważniejszy.
        </p>
      </li>
      <li class="methodology-items">
        <h3 class="methodology-third-heading">MovMed :</h3>
        <p class="methodology-text">
          tak samo, jak my myślimy słowami i obrazami w naszych umysłach, nasze
          ciała "myślą" za pomocą doznań. Układ nerwowy priorytetowo traktuje
          informacje sensoryczne, które dostarczają mózgowi bezpośredniej
          informacji na temat tego, co dzieje się w ciele. Większość naszych
          procesów sensorycznych jest autonomiczna/refleksyjna, ale ulegają
          pogorszeniu w obliczu utrzymującego się zagrożenia dla mózgu.
        </p>
        <p class="methodology-text">
          System edukuje w zakresie naprawy i wzmocnienia świadomości ciała,
          jednocześnie prowadząc Cię przez te części ciała, na które powinieneś
          się skupić, aby zapewnić najtrwalsze korzyści. Dzięki wszechstronnemu
          zrozumieniu relacji neurologicznych w ciele możemy zmienić sposób
          odczuwania i funkcjonowania Twojego ciała na lepsze.
        </p>
      </li>
      <li class="methodology-items">
        <h3 class="methodology-third-heading">Motion data / equalibrum :</h3>
        <p class="methodology-text">
          wyobraź sobie, że całe spektrum ruchu to książka, różne metody
          treningowe będą pokrywać jedną, kilka stron, czasami nawet cały
          rozdział, jednak będą wciąż wycinkiem rzeczywistości. Equalibrum to
          metoda, która wrzuca nas w kontrolowany chaos i w ten chaos dozuje tak
          abyśmy mogli wzrosnąć. Inspirowana tym jak dziecko uczy się ruchu, jak
          historia i emocjonalność zmienia jakość naszego ruchu. Pomyśl o tym
          jak czujesz się gdy robisz coś z przymusu, a kiedy realizujesz swoje
          marzenie, tą energię można wykorzystać w treningu.<span
            class="systems-accent"
            >Pasja i zabawa kluczek do sukcesu.</span
          >
        </p>
      </li>
    </ul>
  </div>
</section>
