<!-- workingMethodology-system.html -->

<section class="msys-section">
  <div class="container msys-container">
    <h2 class="second-heading sytems-heading">
      <span class="msys-accent">Jak pracuję;</span> Systemy na których bazuje:
    </h2>
    <p class="msys-text-heading">
      Poprzez zrozumienie sposobu, w jaki twoje ciało obecnie pracuje i porusza
      się, dowiesz się, jak dokonać korekt, aby poruszać się optymalnie w swoim
      ulubionym sporcie, ćwiczeniach i codziennym życiu. Po drodze będziemy
      pracować nad zrównoważeniem asymetrii i zapewnieniem rozwiązań problemów
      związanych z ruchem, abyś mógł osiągnąć wyższą sprawność fizyczną,
      jednocześnie zmniejszając istniejący ból i zapobiegając urazom
    </p>
    <ul class="list msys-list">
      <!-- Dynamicznie generowana zawartość -->
      <li class="msys-items">
        <div class="msys-text-item">
          <h3 class="msys-third-heading">Functional Patterns :</h3>
          <p class="msys-text">
            system, który powstał w oparciu o obserwacje najlepiej ruszających
            się sportowców, uwzględniający antropologiczną wielką czwórkę
            (stanie, chodzenie, bieganie, rzucanie) zachowując inżynierskie
            spojrzenie wprowadza bardzo precyzyjne protokoły treningowe, które
            pomagają pozbyć traum z twojego ciała. Traumy rozumiane jako
            wszystkie obciążenia z których twoje ciało nie było się w stanie
            zregenerować na bieżąco. Precyzyjny kierunek pracy pozwala
            bodźcowanie twoje ciało dokładnie tam gdzie tego potrzebuje w tym
            kontekście ruchu, który jest dla niego najważniejszy.
          </p>
        </div>
        <div class="msys-image-link">
          <img
            class="msys-image"
            src="./images/System-functionalPatterns.webp"
            alt="Functional Patterns"
          />
        </div>
      </li>
      <li class="msys-items">
        <div class="msys-text-item">
          <h3 class="msys-third-heading">MovMed :</h3>
          <p class="msys-text">
            tak samo, jak my myślimy słowami i obrazami w naszych umysłach,
            nasze ciała "myślą" za pomocą doznań. Układ nerwowy priorytetowo
            traktuje informacje sensoryczne, które dostarczają mózgowi
            bezpośredniej informacji na temat tego, co dzieje się w ciele.
            Większość naszych procesów sensorycznych jest
            autonomiczna/refleksyjna, ale ulegają pogorszeniu w obliczu
            utrzymującego się zagrożenia dla mózgu.<br />System edukuje w
            zakresie naprawy i wzmocnienia świadomości ciała, jednocześnie
            prowadząc Cię przez te części ciała, na które powinieneś się skupić,
            aby zapewnić najtrwalsze korzyści. Dzięki wszechstronnemu
            zrozumieniu relacji neurologicznych w ciele możemy zmienić sposób
            odczuwania i funkcjonowania Twojego ciała na lepsze.
          </p>
        </div>
        <div class="msys-image-link">
          <img
            class="msys-image"
            src="./images/System-movMed.webp"
            alt="MovMed"
          />
        </div>
      </li>
      <li class="msys-items">
        <div class="msys-text-item">
          <h3 class="msys-third-heading">Motion data / equalibrum :</h3>
          <p class="msys-text">
            wyobraź sobie, że całe spektrum ruchu to książka, różne metody
            treningowe będą pokrywać jedną, kilka stron, czasami nawet cały
            rozdział, jednak będą wciąż wycinkiem rzeczywistości. Equalibrum to
            metoda, która wrzuca nas w kontrolowany chaos i w ten chaos dozuje
            tak abyśmy mogli wzrosnąć. Inspirowana tym jak dziecko uczy się
            ruchu, jak historia i emocjonalność zmienia jakość naszego ruchu.
            Pomyśl o tym jak czujesz się gdy robisz coś z przymusu, a kiedy
            realizujesz swoje marzenie, tą energię można wykorzystać w
            treningu.<span class="msys-accent"
              >Pasja i zabawa kluczek do sukcesu.</span
            >
          </p>
        </div>
        <div class="msys-image-link">
          <img
            class="msys-image"
            src="./images/System-motionData.webp"
            alt="Motion data"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
