<!-- workingMethodology-heading.html -->

<section class="methodology-heading-section" id="methodology">
  <div class="container cont-heading-methodology">
    <h2 class="second-heading methodology-heading">Metodyka Pracy</h2>
    <p class="methodology-text-start">
      W BeZone wierzymy, że sekretem zdrowego ciała jest uważne dobieranie
      składników treningu następnie odpowiednie zbalansowane kroków tak abyś
      otrzymał niezwykłe doświadczenie sensoryczne prowadzące Cię do zdrowia i
      sprawności.
    </p>
  </div>
</section>
