<!-- workingMethodology-system.html -->

<section class="msys-section">
  <div class="container msys-container">
    <h2 class="second-heading sytems-heading">
      <span class="msys-accent">Jak pracuję;</span> Systemy na których bazuje:
    </h2>
    <p class="msys-text-heading">
      Poprzez zrozumienie sposobu, w jaki twoje ciało obecnie pracuje i porusza
      się, dowiesz się, jak dokonać korekt, aby poruszać się optymalnie w swoim
      ulubionym sporcie, ćwiczeniach i codziennym życiu. Po drodze będziemy
      pracować nad zrównoważeniem asymetrii i zapewnieniem rozwiązań problemów
      związanych z ruchem, abyś mógł osiągnąć wyższą sprawność fizyczną,
      jednocześnie zmniejszając istniejący ból i zapobiegając urazom
    </p>
    <ul class="list msys-list">
      <!-- Dynamicznie generowana zawartość -->
    </ul>
  </div>
</section>
