.about-us-section {
  display: block;
}

.about-us-container {
  display: block;
  background-color: var(--background-red-color);
  padding: 5px 0px 0px;
}

.about-us-big-container {
  background-color: var(--background-light-color);
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 10px 0px;
  /* max-width: 500px; */
}

.about-us-text-item {
  padding: 20px 10px 20px;
  text-align: center;
}

.about-us-image-link {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}

.about-us-my-photo {
  border-radius: 5px;
  margin: 10px 0px;
}

.about-us-subtitle {
  color: var(--text-dark-color);
}

.about-us-text {
  color: var(--text-red-color);
}

@media screen and (min-width: 768px) {
  .about-us-big-container {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
  }

  .about-us-image-link,
  .about-us-text-item {
    width: 50%;
  }

  .about-us-image-link {
    width: auto;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-big-container {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
