.about-us-section {
  background-color: var(--background-shadow);
  padding: 50px 20px 20px;
  margin: 0px auto;
}

.about-us-conteiner {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
}

.about-us-my-photo {
  border-radius: 5px;
  margin: 10px;
}

.about-us-subtitle {
  color: var(--text-dark-color);
}

.about-us-text {
  color: var(--text-red-color);
}

@media screen and (min-width: 768px) {
  .about-us-conteiner {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-conteiner {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
  }
}
