/* css/basicStyles.css */

.header,
.hero {
  background: transparent; /* Ustaw tło na przezroczyste */
}

@media screen and (max-width: 767px) {
  .background-container {
    margin: 0px auto;
    background-image: url('../images/Be-zone_hero_mobile.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .background-container {
    margin: 0px auto;
    background-image: url('../images/Be-zone_hero_tablet.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1199px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .background-container {
    margin: 0px auto;
    background-image: url('../images/Be-zone_hero_desktop.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
  }
}
