.forWhom-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-red-color);
  padding: 5px 0px 5px;
  text-align: center;
}

.forWhom-first-container,
.forWhom-second-container,
.forWhom-third-container,
.forWhom-fourth-container {
  /* background-color: var(--background-light-color); */
  padding: 20px 5px 20px;
}

.forWhom-point {
  padding: 5px 0px 0px;
}

.forWhom-heading {
  padding: 5px 0px 0px;
}

@media screen and (max-width: 767px) {
  .forWhom-background {
    background: transparent;
    margin: 0px auto;
    background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp');
    /* background-image: url('../images/forWhom_background.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .forWhom-background {
    background: transparent;
    margin: 0px auto;
    background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp');
    /* background-image: url('../images/forWhom_background.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1199px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .forWhom-background {
    background: transparent;
    margin: 0px auto;
    background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp');
    /* background-image: url('../images/forWhom_background.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
  }
}
