.forWhom-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: var(--background-red-color); */
  /* padding: 5px 0px 5px; */
}

.forWhom-span {
  color: var(--text-red-color);
}

.forWhom-first-container {
  background-color: var(--background-dark-color);
  padding: 35px 20px 35px;
  color: var(--text-light-color);
}

.forWhom-second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

.forWhom-image-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forWhom-second-text-container,
.forWhom-image-container {
  width: 100%;
}

.forWhom-image {
  width: 100%;
  height: auto;
}

.forWhom-second-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  /* padding: 20px 5px 20px; */
  margin: 20px auto;
}

.forWhom-third-container {
  padding: 80px 5px 60px;
  color: var(--text-light-color);
}

.forWhom-list {
  padding-left: 20px;
  margin-left: 0;
}

.forWhom-point {
  display: flex;
  align-items: center;
  padding: 5px 0px 0px;
}

.forWhom-icons {
  /* color: var(--text-dark-color);
  fill: transparent;
  stroke: currentColor; */
  fill: var(--text-red-color);
  /* fill: currentColor; */
  stroke: none;
  width: 24px;
  height: 24px;
  stroke-width: 2;
  transform: translateY(5px);
  margin-right: 20px;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.forWhom-icons:hover,
.forWhom-icons:focus {
  fill: var(--text-dark-color);
  stroke: none;
  /* color: var(--text-red-color); */
}

.forWhom-heading {
  padding: 25px 0px 0px;
}

.forWhom-second-heading {
  display: flex;
  align-items: start;
  padding-left: 60px;
  color: var(--text-red-color);
}

.forWhom-text {
  color: var(--text-red-color);
  font-weight: 700;
  display: flex;
  padding-left: 60px;
  padding-top: 25px;
  align-items: start;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .forWhom-second-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 100%;
  }

  .forWhom-second-text-container,
  .forWhom-image-container {
    width: 50%;
  }

  .forWhom-third-container {
    background: transparent;
    margin: 0px auto;
    /* background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp'); */
    background-image: url('../images/forWhom_background_desktop_04-01.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .forWhom-second-container {
    max-width: 1200px;
  }

  .forWhom-third-container {
    background: transparent;
    margin: 0px auto;
    /* background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp'); */
    background-image: url('../images/forWhom_background_desktop_04-01.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1199px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .forWhom-third-container {
    background: transparent;
    margin: 0px auto;
    /* background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp'); */
    background-image: url('../images/forWhom_background_desktop_04-01.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
  }
}
