/* css/hero.css */

.hero-section {
  padding: 460px 20px 20px;
  margin: 0px auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-text {
  color: var(--text-dark-color);
  line-height: 1.5;
  max-width: 350px;
}

.hero-span {
  color: var(--text-red-color);
}

.hero-modal-and-link-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.hero-modal-button-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.hero-write-to-me-button {
  color: var(--text-light-color);
  background-color: var(--background-red-color);
  font-size: 10px;
  font-style: normal;
  line-height: normal;
  display: block;
  border: 1px solid var(--text-red-color);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 16px;
  margin: auto;
  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-tf);
}

.hero-write-to-me-button:hover,
.hero-write-to-me-button:focus {
  background-color: var(--background-light-color);
  color: var(--text-red-color);
  border: 1px solid var(--text-red-color);
}

.hero-scroll-button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  fill: var(--text-red-color);
  transition: background-color var(--transition-duration) var(--transition-tf);
}

.hero-scroll-button-box:hover .hero-scroll-down-button,
.hero-scroll-button-box:focus .hero-scroll-down-button {
  background-color: var(--background-red-color);
  fill: var(--text-light-color);
}

.hero-link-scroll {
  color: var(--text-red-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.0225em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-link-scroll:hover,
.hero-link-scroll:focus {
  color: var(--text-red-color);
}

.hero-link-scroll:hover .hero-button-scroll-icon,
.hero-link-scroll:focus .hero-button-scroll-icon {
  fill: var(--text-light-color);
}

.hero-scroll-down-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--background-ligth-color);
  border: 2px solid var(--text-red-color);
  padding: 0;
  cursor: pointer;
}

.hero-scroll-down {
  color: var(--text-red-color);
}

.hero-button-scroll-icon {
  width: 30px;
  height: 30px;
  fill: var(--text-red-color);
  transition: fill var(--transition-duration) var(--transition-tf);
}

.hero-button-scroll-icon:hover,
.hero-button-scroll-icon:focus {
  fill: var(--text-dark-color);
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 790px 40px 40px;
    margin: 0px auto;
  }

  .hero-text {
    color: var(--text-dark-color);
    line-height: 1.5;
    max-width: 430px;
  }

  .hero-sub-headline {
    color: var(--text-dark-color);
    width: 484px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
  }

  .hero-scroll-button-box {
    gap: 14px;
  }

  .hero-write-to-me-button {
    padding: 12px 18px;
    font-size: 14px;
  }

  .hero-link-scroll {
    font-size: 18px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    gap: 14px;
  }

  .hero-scroll-down-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  .hero-button-scroll-icon {
    width: 30px;
    height: 30px;
    transition: fill var(--transition-duration) var(--transition-tf);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 600px 40px 40px;
    margin: 0px auto;
  }
}
