.how-work-section {
  /* background-color: var(--background-shadow); */
  padding: 50px 20px 20px;
  margin: 0px auto;
}

.how-work-second-heading {
  margin: 0px auto;
  justify-content: center;
  text-align: center;
  padding: 5px 0px 10px 0px;
}

.how-work-small-container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  gap: 20px;
  max-width: 600px;
}

.how-work-accent {
  color: var(--text-red-color);
}

.how-work-image-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how-work-image-container,
.how-work-text-container {
  width: 100%;
}

.how-work-image {
  width: 100%;
  margin: 0px auto;
  height: auto;
}

/* .how-work-image {
  border-radius: 1px;
  margin: 0px auto;
  min-width: 280px;
} */

.how-work-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5px auto;
}

.how-work-text {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .how-work-small-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
  }

  .how-work-second-heading {
    padding: 10px 0px 20px 0px;
  }

  .how-work-image-container,
  .how-work-text-container {
    width: 50%;
  }

  /* .how-work-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 960px;
  }
  .how-work-image {
    width: 500px;
  } */
}

@media screen and (min-width: 1200px) {
  .how-work-small-container {
    max-width: 1200px;
  }

  .how-work-second-heading {
    padding: 10px 0px 30px 0px;
  }

  /* .how-work-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
  }

  .how-work-image {
    width: 650px;
  } */
}
