/* css/howWork.css */

.how-work-section {
  display: block;
  /* text-align: center; */
  justify-content: center;
  margin: 0px;
  padding-bottom: 0px;
}

.how-work-container {
  display: block;
}

.how-work-big-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

.how-work-second-heading {
  padding: 40px 15px 10px 15px;
}

.how-work-accent {
  color: var(--text-red-color);
}

.how-work-image-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how-work-image-container,
.how-work-text-container {
  width: 100%;
}

.how-work-image {
  width: 100%;
  height: auto;
}

.how-work-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 5px;
}

.how-work-text {
  display: block;
  text-align: start;
  margin: 0px;
  padding: 5px 15px 40px 15px;
}

@media screen and (min-width: 768px) {
  .how-work-big-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .how-work-image-container,
  .how-work-text-container {
    width: 50%;
  }

  .how-work-second-heading {
    padding: 10px 20px 0px 20px;
  }

  .how-work-text {
    padding: 10px 20px 20px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .how-work-big-container {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
  }

  .how-work-second-heading {
    padding: 10px 50px 30px 50px;
  }

  .how-work-text {
    padding: 10px 50px 20px 50px;
  }
}
