/* preliminary.css */

.preliminary-section {
  padding: 0px 10px;
  margin: 0px auto;
}

.preliminary-span {
  color: var(--text-red-color);
}

.preliminary-first-header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-dark-color);
  padding: 35px 20px 35px;
  color: var(--text-light-color);
}

.preliminary-container {
  /* background-color: var(--background-red-color); */
  /* padding: 0px 0px 5px; */
  text-align: center;
}

.preliminary-first-container,
.preliminary-second-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preliminary-first-text-item,
.preliminary-second-text-item {
  display: block;
  text-align: start;
  padding: 30px 20px 30px 20px;
  width: 100%; /* Ustaw szerokość na 100% kontenera */
  box-sizing: border-box; /* Uwzględnia padding w szerokości elementu */
}

.preliminary-first-heading {
  color: var(--text-red-color);
  padding: 30px 20px 0px 20px;
}

.preliminary-second-heading {
  color: var(--text-red-color);
  padding: 0px 20px 30px 20px;
}

.preliminary-image-container,
.preliminary-video-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preliminary-image-container,
.preliminary-video-container,
.preliminary-text-item,
.preliminary-second-text-item {
  width: 100%;
}

.preliminary-image {
  width: 100%;
  height: auto;
}

.preliminary-text-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 5px;
}

.preliminary-second-text-item {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-around;
  gap: 5px;
  width: 100%;
}

.preliminary-video-container,
.preliminary-video {
  width: 100%;
  height: 600px;
}

.preliminary-text {
  padding: 5px 0px 5px 0px;
  white-space: normal; /* Umożliwia normalne zawijanie tekstu */
  word-wrap: break-word; /* Zawija długie wyrazy w razie potrzeby */
}

@media screen and (min-width: 768px) {
  .preliminary-first-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .preliminary-second-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .preliminary-image-container,
  .preliminary-video-container,
  .preliminary-text-item {
    width: 50%;
  }

  .preliminary-first-text-item,
  .preliminary-second-text-item {
    padding: 10px 20px 10px 20px;
  }

  .preliminary-first-heading {
    padding: 20px 20px 0px 20px;
  }

  .preliminary-second-heading {
    padding: 0px 20px 20px 20px;
  }
  .preliminary-text-item,
  .preliminary-second-text-item {
    max-width: 600px; /* Dodanie maksymalnej szerokości dla kontenerów tekstowych */
  }
}

@media screen and (min-width: 1200px) {
  .preliminary-first-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
  }

  .preliminary-second-container {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
  }

  .preliminary-first-text-item,
  .preliminary-second-text-item {
    padding: 20px 50px 20px 50px;
  }

  .preliminary-first-heading {
    padding: 20px 50px 10px 50px;
  }

  .preliminary-second-heading {
    padding: 10px 50px 20px 50px;
  }

  .preliminary-text-item,
  .preliminary-second-text-item {
    width: 600px;
  }
}
