.preliminary-section {
  padding: 50px 20px 20px;
  margin: 0px auto;
}

.preliminary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.preliminary-text {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 500;
}

.preliminary-text-heading {
  font-family: 'Oswald';
  font-size: 28px;
  font-weight: 700;
  padding: 50px 0px 5px;
}
