.preliminary-section {
  padding: 10px 10px 10px;
  margin: 0px auto;
}

.preliminary-container {
  background-color: var(--background-red-color);
  padding: 5px 0px 5px;
  text-align: center;
}

.preliminary-first-container {
  background-color: var(--background-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
}

.preliminary-first-text-container {
  /* background-color: var(--background-grey-color); */
  color: var(--text-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0px 20px;
}

.preliminary-second-container {
  background-color: var(--background-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.preliminary-text {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 500;
}

.preliminary-text-heading {
  font-family: 'Oswald';
  font-size: 28px;
  font-weight: 700;
  padding: 30px 0px 5px;
}

@media screen and (max-width: 767px) {
  .preliminary-first-text-container {
    background: transparent;
    margin: 0px auto;
    /* background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp'); */
    background-image: url('../images/preliminary-first-container_mobile_01.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .preliminary-first-text-container {
    background: transparent;
    margin: 0px auto;
    /* background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp'); */
    background-image: url('../images/preliminary-first-container_tablet_01.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1199px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .preliminary-first-text-container {
    background: transparent;
    margin: 0px auto;
    /* background-image: linear-gradient(
        var(--background-shadow),
        var(--background-shadow)
      ),
      url('../images/forWhom_background.webp'); */
    background-image: url('../images/preliminary-first-container_desktop_01.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
  }
}
