/* reviews.css */

.reviews-section {
  background-color: var(--background-light-color);
  text-align: center;
  padding-bottom: 20px;
}

.cont-reviews {
  position: relative;
  max-width: 1200px;
}

.reviews-heading {
  font-weight: 600;
}

.reviews-accent {
  color: var(--text-red-color);
  right: 14px;
}

.reviews-list {
  display: flex;
  margin-bottom: 30px;
  margin-left: 20px;
  padding-top: 50px;
}

.reviews-li {
  background-color: var(--background-light-color);
  border: 1px solid var(--text-dark-color);
  border-radius: 15px;
  box-shadow: 10 10 10px 3px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25); */
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 300px;
  position: relative;
  height: 300px;
}

.review-photo {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.review-heading {
  font-size: 18px;
  font-weight: 600;
  height: 24px;
  line-height: 1.33;
  margin-top: 56px;
}

.review-p {
  color: var(--text-dark-color);
  font-size: 14px;
  margin: 5px 10px auto 10px;
  width: 280px;
  height: 130px;
  overflow-y: auto;
  letter-spacing: -0.02em;
  line-height: 1.29;
}

.review-p::-webkit-scrollbar {
  width: 8px;
}

.review-p::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.review-p::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.review-p::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.reviews-slider {
  display: flex;
  gap: 13px;
  justify-content: center;
  margin-bottom: 32px;
}

.reviews-slide {
  background-color: var(--text-dark-color);
  border: none;
  border-radius: 13px;
  height: 13px;
  width: 13px;
}
.swiper-pagination-bullet {
  background: var(--text-dark-color);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: inline-block;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  background: var(--background-red-color);
  opacity: 1;
  width: 28px;
}

/* .active-review,
.swiper-pagination-bullet-active {
  background-color: var(--background-red-color);
  width: 28px;
} */

.reviews-js-pagination {
  height: 13px;
  padding-bottom: 37px;
}

.reviews-button {
  background-color: transparent;
  border: 1px solid var(--text-red-color);
  border-radius: 100px;
  color: var(--text-dark-color);
  font-size: 14px;
  margin: 0 auto;
  padding: 12px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button:hover,
.reviews-button:focus {
  background-color: var(--background-red-color);
  color: var(--text-light-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .reviews-section {
    padding-bottom: 100px;
  }
  .reviews-heading {
    font-size: 24px;
    line-height: 1.17;
  }
  .reviews-list {
    margin-bottom: 40px;
    padding-top: 50px;
  }
  .reviews-li {
    max-width: 330px;
    box-shadow: 10 10 10px 3px rgba(0, 0, 0, 0.3);
  }
  .review-p {
    width: 310px;
  }

  .reviews-slider {
    margin-bottom: 50;
  }
  .reviews-js-pagination {
    padding-bottom: 55px;
  }
  .reviews-button {
    font-size: 18px;
    padding: 14px 40px;
  }
}

@media all and (min-width: 1200px) {
  .reviews-section {
    padding-bottom: 30px;
  }
  .reviews-li {
    max-width: 360px;
    box-shadow: 10 10 10px 3px rgba(0, 0, 0, 0.3);
  }
  .review-p {
    width: 340px;
  }
}
