/* css/scrollToTopButton.css */

.crollToTopButtonContainer {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  margin: 0px 0px 40px auto;
  display: flex;
  justify-content: flex-end;
  z-index: 99;
}

#scrollToTopButton {
  display: none; /* Początkowo ukryj przycisk */
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--background-ligth-color);
  border: 2px solid var(--text-red-color);
  padding: 0;
  cursor: pointer;
  z-index: 99; /* Upewnij się, że przycisk jest na wierzchu innych elementów */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

#scrollToTopButton svg {
  width: 30px;
  height: 30px;
  /* transform: rotate(180deg); */
  /* Obrócenie ikony do góry */
  fill: var(--text-red-color);
  transition: transform 0.3s ease, fill 0.3s ease; /* Dodano dla animacji ikony */
}

#scrollToTopButton:hover svg,
#scrollToTopButton:focus svg {
  fill: var(--text-light-color);
}

#scrollToTopButton:hover,
#scrollToTopButton:focus {
  background-color: var(--background-red-color);
}

.crollToTopButtonContainerDiv {
  padding: 0px 25px 0px 0px;
}

@media screen and (min-width: 768px) {
  /* .crollToTopButtonContainer {
    padding-right: 40px;
  } */

  #scrollToTopButton {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; /* Początkowo ukryj przycisk */
    width: 40px;
    height: 40px;
  }

  .crollToTopButtonContainerDiv {
    padding: 0px 45px 0px 0px;
  }
}
