/* css/scrollToTopButton.css */

.crollToTopButtonContainer {
  position: fixed;
  bottom: 30px;
  right: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end; /* Przycisk znajdzie się po prawej stronie */
  padding-right: 20px;
  z-index: 999;
}

#scrollToTopButton {
  display: none; /* Początkowo ukryj przycisk */
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--background-ligth-color);
  border: 2px solid var(--text-red-color);
  padding: 0;
  cursor: pointer;
  z-index: 999; /* Upewnij się, że przycisk jest na wierzchu innych elementów */
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateX(0); */
}

#scrollToTopButton svg {
  width: 30px;
  height: 30px;
  transform: rotate(180deg); /* Obrócenie ikony do góry */
  fill: var(--text-red-color);
}

#scrollToTopButton:hover svg,
#scrollToTopButton:focus svg {
  fill: var(--text-light-color);
}

#scrollToTopButton:hover,
#scrollToTopButton:focus {
  background-color: var(--background-red-color);
}

@media screen and (min-width: 768px) {
  .crollToTopButtonContainer {
    padding-right: 40px;
  }

  #scrollToTopButton {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; /* Początkowo ukryj przycisk */
    width: 40px;
    height: 40px;
  }
}
