/* timeToChange.css */

.timeToChange-first-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-dark-color);
  padding: 50px 20px 50px;
  color: var(--text-light-color);
}

.timeToChange-span {
  color: var(--text-red-color);
}

.timeToChange-second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

.timeToChange-image-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeToChange-image-container,
.timeToChange-heading-container {
  width: 100%;
}

.timeToChange-image {
  width: 100%;
  height: auto;
}

.timeToChange-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin: 20px auto;
}

.timeToChange-heading {
  color: var(--text-red-color);
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .timeToChange-second-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

  .timeToChange-image-container,
  .timeToChange-heading-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .timeToChange-second-container {
    max-width: 1200px;
  }
}
