/* css/workingMethodology-sytem.css */

.msys-section {
  background-color: var(--background-light-color);
  text-align: center;
  justify-content: center;
  margin: 0px;
  padding-bottom: 0px;
}

.msys-container {
  display: block;
  text-align: center;
}

.msys-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

.msys-second-heading {
  color: var(--text-red-color);
  text-transform: uppercase;
  padding: 40px 15px 5px 15px;
}

.msys-image-link {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.msys-image-link,
.msys-text-item {
  width: 100%;
}

.msys-image {
  width: 100%;
  height: auto;
}

.msys-text-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 5px;
}

.msys-text {
  display: block;
  text-align: start;
  margin: 0px;
  padding: 5px 15px 40px 15px;
}

@media screen and (min-width: 768px) {
  .msys-items {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

  .msys-image-link,
  .msys-text-item {
    width: 50%;
  }

  .msys-second-heading {
    padding: 10px 20px 10px 20px;
  }

  .msys-text {
    margin: 0px;
    padding: 0px 20px 5px 20px;
  }

  .msys-items:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .msys-items {
    max-width: 1200px;
  }

  .msys-second-heading {
    padding: 10px 50px 10px 50px;
  }

  .msys-text {
    margin: 0px;
    padding: 0px 50px 5px 50px;
  }
}
