/* workingMethodology.css */
.methodology-section {
  background-color: var(--background-light-color);
  text-align: center;
  margin: 0px;
  padding-bottom: 20px;
}

.cont-methodology {
  display: block;
  text-align: center;
  /* padding-top: 300px; */
}

.systems-accent {
  color: var(--text-red-color);
}

/* ============================MOBILE=============================== */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .components-ul-1 {
    padding-bottom: 20px;
  }
  .components-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .components-list-ul-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .components-list-image {
    background-color: transparent;
    width: 335px;
    height: 270px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .components-milk-chocolate {
    width: 335px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }
  .components-orange-border {
    width: 335px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  .components-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .components-flip-card:hover .components-flip-card-inner {
    transform: rotateY(180deg);
  }

  .components-flip-card-front,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .components-flip-card-front {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background: var(--background-red-color);
  }

  .components-image-size {
    width: 224px;
    height: 171px;
    flex-shrink: 0;
  }

  .components-flip-card-back {
    background-color: white;
    border-radius: 15px;
    transform: rotateY(180deg);
    padding: 28px;
    text-align: start;
  }

  .components-link {
    padding: 28 55 25 56;
    flex-shrink: 0;
  }

  .components-description-under-image {
    color: var(--text-red-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 28px 28px;
    flex-shrink: 0;
  }

  .components-h3 {
    color: var(--text-dark-color);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .components-hidden-paragraph {
    width: 279px;
    height: 146px;
    overflow: hidden;
    color: var(--text-dark-color);
    text-overflow: ellipsis;
    white-space: wrap;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
  }
  /* 2 image */
  .components-flip-card-front-milk-sweet {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid var(--text-red-color);
  }
  .components-description-under-image-milk-sweet {
    color: var(--text-dark-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 25px 28px;
    flex-shrink: 0;
  }

  .components-flip-card-front-milk-sweet,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* 3 image */

  .components-flip-card-front-nuts {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--background-dark-color);
  }

  .components-flip-card-front-nuts,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
}
/* ============================TABLET=============================== */

@media screen and (min-width: 768px) {
  .components-ul {
    display: flex;
    gap: 32px;
  }
  .components-ul-1 {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .components-ul-2 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 32px;
  }
  .components-list-ul-2 {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }
  .components-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .components-list-image {
    background-color: transparent;
    width: 336px;
    height: 270px;
    list-style: none;
    width: calc((100% - 24px) / 2);
    max-width: 704px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .components-milk-chocolate {
    width: 336px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }
  .components-orange-border {
    width: 336px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  .components-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .components-flip-card:hover .components-flip-card-inner {
    transform: rotateY(180deg);
  }

  .components-flip-card-front,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .components-flip-card-front {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 270px;
    border-radius: 15px;
    background: var(--background-red-color);
  }

  .components-image-size {
    width: 224px;
    height: 171px;
    flex-shrink: 0;
  }

  .components-flip-card-back {
    background-color: white;
    border-radius: 15px;
    transform: rotateY(180deg);
    padding: 28px;
    text-align: start;
  }

  .components-link {
    padding: 28 56 25 56;
    flex-shrink: 0;
  }

  .components-description-under-image {
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 25px 28px;
    flex-shrink: 0;
  }

  .components-h3 {
    color: var(--text-dark-color);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .components-hidden-paragraph {
    width: 279px;
    height: 146px;
    overflow: hidden;
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: wrap;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.02em;
  }
  /* 2 image */
  .components-flip-card-front-milk-sweet {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 270px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid var(--text-red-color);
  }
  .components-description-under-image-milk-sweet {
    color: var(--text-dark-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 25px 28px;
    flex-shrink: 0;
  }

  .components-flip-card-front-milk-sweet,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* 3 image */

  .components-flip-card-front-nuts {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--background-dark-color);
  }

  .components-flip-card-front-nuts,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
}
/* ===========================DESKTOP============================================== */

@media all and (min-width: 1200px) {
  .components-ul {
    display: flex;
    justify-content: center;
    gap: 19px;
  }
  .components-ul-1 {
    display: block;
    padding: 0;
  }
  .components-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 19px;
  }

  .components-list-ul-2 {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 19px;
  }

  .components-list-image {
    background-color: transparent;
    width: 270px;
    height: 270px;
    list-style: none;
    width: calc((100% - 24px) / 2);
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .components-milk-chocolate {
    width: 270px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }
  .components-orange-border {
    width: 270px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  .components-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .components-flip-card:hover .components-flip-card-inner {
    transform: rotateY(180deg);
  }

  .components-flip-card-front {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    background: var(--background-red-color);
  }

  .components-image-size {
    width: 206px;
    height: 160px;
    flex-shrink: 0;
  }

  .components-flip-card-back {
    background-color: white;
    border-radius: 15px;
    transform: rotateY(180deg);
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .components-flip-card-front,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .components-link {
    padding: 28 36 36 28;
  }

  .components-description-under-image {
    color: var(--text-light-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 28px 28px;
    flex-shrink: 0;
  }

  .components-h3 {
    color: var(--text-dark-color);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .components-hidden-paragraph {
    width: 230px;
    height: 162px;
    overflow: hidden;
    color: var(--text-dark-color);
    text-overflow: ellipsis;
    white-space: wrap;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
  }
  .components-hidden-paragraph-seet-desktop {
    height: 140px;
  }
  /* 2 image */
  .components-flip-card-front-milk-sweet {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid var(--text-red-color);
  }
  .components-description-under-image-milk-sweet {
    color: var(--text-dark-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 25px 28px;
    flex-shrink: 0;
  }

  .components-flip-card-front-milk-sweet,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* 3 image */

  .components-flip-card-front-nuts {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--background-dark-color);
  }

  .components-flip-card-front-nuts,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
}
