/* workingMethodology.css */

.methodology-section {
  background-color: var(--background-light-color);
  text-align: center;
  margin: 0px;
  padding-bottom: 20px;
}

.cont-methodology {
  display: block;
  text-align: center;
}

/* General Styles */
.methodology {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.methodology-section-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.methodology-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0px auto;
  list-style: none;
}

.methodology-item {
  width: 280px;
  height: 270px;
  perspective: 1000px;
}

.methodology-flip-card {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 10 10 10px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.methodology-flip-card-inner {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.methodology-flip-card:hover .methodology-flip-card-inner {
  transform: rotateY(180deg);
}

.methodology-flip-card-front,
.methodology-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.methodology-flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: var(--background-light-color);
}

.methodology-flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 25px;
  background-color: var(--background-light-color);
  transform: rotateY(180deg);
  text-align: start;
  justify-content: center;
  overflow: hidden;
}

.methodology-link {
  flex-shrink: 0;
}

.methodology-image {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 20px;
}

.methodology-description {
  padding-top: 10px;
}

.methodology-title {
  color: var(--text-red-color);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
}

.methodology-title-front {
  color: var(--text-red-color);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
}

.methodology-text {
  width: 230px;
  height: 160px;
  overflow-y: auto;
  color: var(--text-dark-color);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* Scrollbar styles */
.methodology-text::-webkit-scrollbar {
  width: 8px;
}

.methodology-text::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.methodology-text::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.methodology-text::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .methodology {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .methodology-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .methodology-item {
    width: 300px;
    height: 300px;
  }

  .methodology-image {
    width: 180px;
    height: 180px;
  }

  .methodology-title {
    color: var(--text-red-color);
  }

  .methodology-title-front {
    color: var(--text-red-color);
  }

  .methodology-text {
    width: 260px;
    height: 200px;
  }
}
